body{
    
    background-image:url(bg3.jpg);
    background-repeat:repeat;
}

.slider-holder
{
    width: 100%;
    height: 50vh;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    animation-name: imgani;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
}

@keyframes imgani {
    0%{
        position: absolute;
        top: -50vh;  
    }
    100%{
        position: absolute;
        top:0vh;
    }   
}

.image-holder
{
    width: 300%;
    background-color: red;
    height: auto;
    clear: both;
    position: relative;
    animation-name: auto;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

@keyframes auto {
    0%{
        left: 0%;
    }
    8%{
        left: 0%;
    }
    20%{
        left: -100%;
    }
    33%{
        left: -100%;
    }
    46%{
        left: -200%;
    }
    60%{
        left: -200%;
    }
    73%{
        left:-100%;
    }
    86%{
        left: -100%;
    }
    100%{
        left:0%;
    }
}

.slider-image{
    width: 33.333334%;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 50vh;
}

/* #slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -100%;
}

#slider-image-3:target ~ .image-holder
{
    left: -200%;
} */



.button-holder
{
    position: relative;
    top: -20px;
}

.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
}

nav{
    background-color: hsla(0, 2%, 63%, 0.6);
    height: 10vh;
    position: sticky;
    top:0px;
    border: 1vh solid rgba(20, 43, 78, 0);
    border-radius: 5px;
    margin: 3vh 0vh;
    box-shadow: 0vh 0vh 4vh 0vh;
    backdrop-filter: blur(2px);
    z-index: 999;
    animation-name: navani;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 600ms; 
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes navani {
    0% {
        background-color: hsla(0, 2%, 63%, 0);
        border: 0vh solid rgba(20, 43, 78, 0);
        margin: 0vh 0vh;
        box-shadow: 0vh 0vh 0vh 0vh;
        backdrop-filter: blur(0px);
        left: 0%;
        }
        100% {    
            position: sticky;
            top:0px;
            opacity: 1;
        }
}

.logo{
    position: relative;
    top: 50%;
    transform: translate(0px,-5.0vh);
    height: 10vh;
    width: 10vh;
    padding-left: 1vh;
    animation: logani;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 600ms;
}

@keyframes logani{
    0%{height: 10px;width: 10px; padding-left: 1vh;display: none;}
    100%{}
}

.url{
    float: right;
    font-size: 3vh;
    display: flex;
    height: 10vh;
    position: relative;
    top: 50%;
    transform: translate(0,-3vh);
} 
.ura{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 2vh;
    border: 5px solid rgba(0,0,0,0);
    text-shadow: 0px 0px 10px rgb(16, 16, 49);
    height: 4vh;
}

.mage{
    width: 100%;
}

.sa{
    position: relative;
    top: 10vh;
    display: flex;
    border-radius: 5px;
    box-shadow: 0vh 0vh 2.2vh 0vh;
    backdrop-filter: blur(2px);
    padding: 15px;
    padding-bottom: 0px;
    margin: 3vh 10vh 3vh 10vh;
    opacity: 0;
    animation-name: saani;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
}

@keyframes saani{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.d{
    padding: 5px;
    opacity: 0;
    animation-name:tani ;
    animation-duration: 500ms;
    animation-delay: 1800ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes tani {
    0%{ 
        opacity: 0;}
    100%{
        opacity: 1;}
    }

.da{
    text-transform: uppercase;
    font-size: 3vh;
    position: relative;
}
.daa{
    text-align: justify;
    padding: 5px;
    padding-right: 10px;
    position: relative;
}

.po{
    opacity: 0;
    animation-name:tani ;
    animation-duration: 500ms;
    animation-delay: 1800ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.ld{
    display: flex;
    position: relative;
    top: 10vh;
    padding: 10px;
    background-color: hsla(0, 2%, 63%, 0.6);
    box-shadow: 0vh 0vh 4vh 0vh;
    backdrop-filter: blur(2px);
    
}

.la{
    width: 33%;
}
.la ul{
    list-style: none;
    position: relative;
    left: -30px;
    
}
@media  screen and (max-width: 720px) {
    body{
        
        background-image:url(bg2.jpg);
        
    }
    
    .slider-holder
    {
        width: 100%;
        height: 30vh;
        background-color: yellow;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
        animation-name: imgani;
        animation-duration: 500ms;
        animation-timing-function: ease-in;
    }
    
    @keyframes imgani {
        0%{
            position: absolute;
            top: -30vh;  
        }
        100%{
            position: absolute;
            top:0vh;
        }   
    }
    
    .image-holder
    {
        width: 300%;
        background-color: red;
        height: auto;
        clear: both;
        position: relative;
       
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }
    
    .slider-image{
        width: 33.333334%;
    }
    
    .slider-image
    {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
        height: 30vh;
    }
    
    #slider-image-1:target ~ .image-holder
    {
        left: 0px;
    }
    
    #slider-image-2:target ~ .image-holder
    {
        left: -100%;
    }
    
    #slider-image-3:target ~ .image-holder
    {
        left: -200%;
    }
    
    .button-holder
    {
        position: relative;
        top: -20px;
    }
    
    .slider-change
    {
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background-color: brown;
    }
    
    nav{
       
        height: 5vh;
        border: .5vh solid rgba(20, 43, 78, 0);
        margin: 1.5vh 0vh;
        box-shadow: 0vh 0vh 4vh 0vh;
        
    }
    
    .logo{
        position: relative;
        top: 50%;
        transform: translate(0px,-2.5vh);
        height: 5vh;
        width:5vh;
        padding-left: .5vh;
      
    }
    
    .url{
        font-size: 2.5vh;
        height: 5vh;
        position: relative;
        top: 50%;
        transform: translate(0,-2.50vh);
    } 
    .ura{
        margin-left: 1vh;
        border: 5px solid rgba(0,0,0,0);
    }
    .sa{
        box-shadow: 0vh 0vh 2.2vh 0vh;
        top: 5vh;
        display: grid;
        align-items: center;
        margin: 2.5vh 2.5vh;
    }

    .daa{
        padding-right: 5px;
    }
    .po{
        margin: 0 auto;
    }
    .po img{
        height: 300px;
    }
    .ld{
        display: grid;
        position: relative;
        top: 10vh;
        padding: 10px;
        background-color: hsla(0, 2%, 63%, 0.6);
        box-shadow: 0vh 0vh 4vh 0vh;
        backdrop-filter: blur(2px);
        
    }
    
    .la{
        width: 33%;
    }
    .la ul{
        list-style: none;
        position: relative;
        left: -30px;
        
    }
}